<div class="bg-gray-800 h-screen w-screen flex lg:flex-row flex-col items-center justify-between gap-1 font-outfit">
    <div class="bg-white h-screen flex-1 w-screen lg:w-auto lg:rounded-tl-3xl lg:rounded-bl-3xl flex flex-col items-center justify-start gap-16 lg:px-20 py-10 order-2">
        <div class=" w-full hidden lg:block">
            <img src="./assets/logo.svg" alt="logo">
        </div>
        <div class="flex flex-col gap-3 lg:gap-12 p-12 lg:p-0">
            <p style=" color: #263238;  font-weight: 700;" class="text-2xl lg:text-4xl">
                Welcome Back
            </p>
            <form [formGroup]="loginGroupForm" (ngSubmit)="submit()" class="flex flex-col gap-4">
                <div class="flex justify-center lg:flex-row flex-col gap-2 text-xs lg:gap-14 items-center flex-nowrap">
                    <div class="border-2 border-black w-full px-3 flex-1 flex items-center py-2  justify-center h-10 gap-5 cursor-pointer transition-transform duration-200 transform hover:-translate-y-1 hover:shadow-md">
                        <img src="./assets/facebook_icon.svg" alt="">
                        <p  style="margin: 0;flex: 0 0 auto;" >
                            Sign Up with Facebook
                        </p>
                    </div>
                    <div class="border-2 border-black w-full flex-1 px-3 flex items-center py-2  justify-center h-10 gap-5 cursor-pointer transition-transform duration-200 transform hover:-translate-y-1 hover:shadow-md">
                        <img src="./assets/google.svg" alt="">
                        <p  style="margin: 0;flex: 0 0 auto;" >
                            Sign Up with Google
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-stretch self-stretch gap-6">
                    <div class="h-[1.5px] bg-zinc-300 w-24 flex-1"></div>
                    <div class="text-base font-medium ">Or</div>
                    <div class="h-[1.5px] bg-zinc-300 w-24 flex-1"></div>
                </div>
                <div class="flex flex-col items-start justify-start w-full">
                    <label for="Email">Email:</label>
                    <input type="Email" id="Email"   class="self-stretch border-2 border-black rounded-none outline-none py-2 pl-5 placeholder:text-neutral-500 placeholder:font-outfit placeholder:font-medium" formControlName="email">
                    <span *ngIf="loginGroupForm.get('email')?.errors?.['required'] && loginGroupForm.get('email')?.touched && loginGroupForm.get('email')?.dirty" class="text-red-500">the email field is required</span>
                </div>
                <div class="flex flex-col items-start justify-start w-full">
                    <label for="Password">Password:</label>
                    <input type="Password" id="Password"   class="self-stretch border-2 border-black rounded-none outline-none py-2 pl-5 placeholder:text-neutral-500 placeholder:font-outfit placeholder:font-medium" formControlName="password">
                    <span *ngIf="loginGroupForm.get('password')?.errors?.['required'] && loginGroupForm.get('password')?.dirty && loginGroupForm.get('password')?.touched" class="text-red-500">the password field is required</span>
                </div>
                <div class="flex items-center justify-between">
                    <div class="lg:flex items-center justify-center gap-2 hidden">
                        <input type="checkbox" style="margin: 0;">
                        <p style="margin: 0;">Keep me logged in</p>
                    </div>
                    <a class="text-green-500 cursor-pointer font-medium" (click)="goToRegister()">
                        Forgot password?
                    </a>
                </div>
                <button type="submit" [disabled]="!loginGroupForm.valid" class="self-stretch cursor-pointer py-2 text-center bg-green-500 text-white border-green-500 border-2 transition ease duration-300 hover:bg-transparent hover:text-green-500">
                    Sign In
                </button>
                <div>
                    <span class="font-light">
                        Don’t have an account yet ?
                    </span>
                    <a class="text-green-500 cursor-pointer font-medium" (click)="goToRegister()">
                        Register
                    </a>
                </div>

            </form>
        </div>
    </div>
    <div class="lg:flex-1 flex items-center justify-center order-1 lg:order-none p-12">
        <img src="./assets/login.svg" alt="" class="">
    </div>
</div>
