<div [ngClass]="{'toggle' : menuToggled}" >
<!--  <div (click)="toggleMenu2()" class="close">-->
<!--    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-green-600">-->
<!--      <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--    </svg>-->
<!--  </div>-->

  <div class="flex  gap-9 font-outfit" [ngClass]="{'menuToggled' : menuToggled}">
    <a routerLink="/home" class="link" [ngClass]="{'selectedLink' : path === 'home'}">
      Home
    </a>
    <a href="" class="link" [ngClass]="{'selectedLink' : path === 'discover'}">
      Discover
    </a>
    <a href="" class="link" [ngClass]="{'selectedLink' : path === 'aboutUs'}">
      About Us
    </a>
    <a routerLink="/campaign/start-a-campaign" class="link" [ngClass]="{'selectedLink' : path === 'start-a-campaign'}">
      Start a campaign
    </a>
    <a routerLink="/authentication/login" class="link lg:hidden" [ngClass]="{'selectedLink' : path === 'login'}">
      Sign in
    </a>
    <a routerLink="/authentication/register" class="link  lg:hidden" [ngClass]="{'selectedLink' : path === 'register'}">
      Sign up
    </a>
    <label class="w-7 h-7 hover:text-green-500  justify-center items-center hidden justify-self-start"
           [ngClass]="{'hide' : path === 'start-a-campaign'}" (click)="toggle()">
      search
    </label>
  </div>
</div>

