<div [ngClass]="{'toggle' : menuToggled}" >
  <mat-icon class="close" (click)="toggleMenu2()">close</mat-icon>
  <div class="flex  gap-9 font-outfit" [ngClass]="{'menuToggled' : menuToggled}">
    <a routerLink="/home" class="link" [ngClass]="{'selectedLink' : path === 'home'}">
      Home
    </a>
    <a href="" class="link" [ngClass]="{'selectedLink' : path === 'discover'}">
      Discover
    </a>
    <a href="" class="link" [ngClass]="{'selectedLink' : path === 'aboutUs'}">
      About Us
    </a>
    <a routerLink="/start-a-campaign" class="link" [ngClass]="{'selectedLink' : path === 'start-a-campaign'}">
      Start a campaign
    </a>
    <a routerLink="/authentication/login" class="link lg:hidden" [ngClass]="{'selectedLink' : path === 'login'}">
      Sign in
    </a>
    <a routerLink="/authentication/register" class="link  lg:hidden" [ngClass]="{'selectedLink' : path === 'register'}">
      Sign up
    </a>
    <label class="w-7 h-7 hover:text-green-500 lg:flex justify-center items-center hidden justify-self-start"
           [ngClass]="{'hide' : path === 'start-a-campaign'}" (click)="toggle()" for="search">
      <mat-icon>search</mat-icon>
    </label>
  </div>
</div>

