
.link
    border: 2px solid transparent
    padding-bottom: 4px
    font-size: 16px
    &:hover
        color: #22c55e
        border-bottom: 2px solid 

.selectedLink 
    border-bottom: 2px solid 
    border-bottom-color: #22c55e
    color: #22c55e


.menuToggled
    flex-direction: column
    align-items: stretch
    justify-items: start
    gap: 0
    width: 100vw
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2)
.menuToggled *
    background: white
    padding: 15px 32px
    border-top:  1px solid lightgreen
    font-size: 16px
    font-family: "Outfit", sans-serif
    font-weight: 400


