<div class="flex items-center justify-center gap-9 font-outfit" [ngClass]="{'menuToggled' : menuToggled}">
        <a routerLink="/home" class="link" [ngClass]="{'selectedLink' : path === 'home'}">
            Home
        </a>
        <a href="" class="link" [ngClass]="{'selectedLink' : path === 'discover'}">
            Discover
        </a>
        <a href="" class="link" [ngClass]="{'selectedLink' : path === 'aboutUs'}">
            About Us
        </a>
        <a href="" class="link" [ngClass]="{'selectedLink' : path === 'compaign'}">
            Start a compaign
        </a>
        <a routerLink="/authentification/login" class="link lg:hidden" [ngClass]="{'selectedLink' : path === 'login'}">
            Sign in
        </a>
        <a routerLink="/authentification/register" class="link  lg:hidden" [ngClass]="{'selectedLink' : path === 'register'}">
            Sign up
        </a>
        <label class="w-7 h-7 hover:text-green-500 lg:flex justify-center items-center hidden justify-self-start" (click)="toggle()" for="search">
            <mat-icon>search</mat-icon>
        </label>
</div>

