<div class=" flex items-center justify-center lg:m-0 lg:py-8 mt-4 mx-8">
    <div  class="justify-center items-center flex w-full">
        <div class=" items-center flex lg:justify-between w-full justify-start">
            <span class="text-center text-green-500 font-bold text-xl font-serif leading-normal tracking-widest">
                BIDAYA
            </span>
            <app-nav-menu class="lg:block hidden" [path]="path"/>
            <div class="lg:flex items-center justify-center gap-3 hidden">
                <button class="text-green-500 w-24 h-12  rounded-sm text-base hover:text-white">Sign In</button>
                <button class="bg-green-500 w-24 h-12 border-green-500 border-2 transition ease duration-300  rounded-sm text-white text-base hover:bg-transparent hover:text-green-500">Sign Up</button>
            </div>
            <div class="w-7 h-7 lg:hidden flex justify-center items-center " (click)="toggleMenu()">
                <mat-icon>expand_more</mat-icon>
            </div>
        </div>
        <label class="w-7 h-7 hover:text-green-500 flex justify-center items-center lg:hidden" (click)="toggleSearch()" for="search">
            <mat-icon>search</mat-icon>
        </label>
    </div>
    <div *ngIf="searchToggled" class="absolute w-full justify-between items-center flex bg-white gap-4 h-10 p-8 lg:hidden">
        <div class="justify-start items-center gap-3 flex">
            <div class="w-7 h-7 flex justify-center items-center">
                <mat-icon>search</mat-icon>
            </div>
            <div class="w-full h-full " >
                <input type="text" placeholder="Search..." class="border-none appearance-none outline-none w-full h-full placeholder:font-serif" id="search">
            </div>
        </div>
        <div class="w-7 h-7 hover:text-green-500 flex justify-center items-center" (click)="toggleSearch()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="absolute top-[62px]" *ngIf="menuToggled">
        <app-nav-menu [menuToggled]="menuToggled" />
    </div>
</div>