<div class="px-2 my-4 font-outfit flex justify-center items-stretch flex-col gap-14 xl:py-14">
  <div class="flex items-center justify-between mb-5 px-6 xl:px-36">
    <h3 style="color: #263238; font-size: 20px; font-family: Outfit,serif; font-weight: 700">
      Projects in progress:
    </h3>
    <div class="lg:flex items-center justify-between hidden  ">
      <div class="flex  items-center justify-center gap-3.5 ">
        <div class="w-8 h-8 bg-[#263238] bg-opacity-20 flex justify-center items-center rounded-full text-white cursor-not-allowed">
          <mat-icon class="w-4 h-4">keyboard_arrow_left</mat-icon>
        </div>
        <div class="w-8 h-8 bg-[#263238] flex justify-center items-center rounded-full text-white cursor-pointer">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <!--    style="&#45;&#45;swiper-navigation-color: #000; &#45;&#45;swiper-pagination-color: #0000 ; &#45;&#45;swiper-navigation-top-offset:10px"-->
  <!--    [style]="{'.swiper-button-next, .swiper-button-prev': 'z-index: 300;'}"-->
  <div class="swiper-container-div">
    <swiper-container
      loop="true"
      speed="500"
      slides-per-view="auto"
      space-between="10"
      free-mode="true"
      class="block lg:hidden"
    >
  
      <swiper-slide *ngFor="let card of cards"  loading="lazy" class="flex gap-4 flex-col w-60 ">
        <div class="flex flex-col gap-2 div h-56">
          <div class="h-36 w-60">
            <img [src]="card.image" alt="" class=" rounded-lg object-cover w-full h-full">
          </div>
          <h5 class="text-neutral-500 text-xs font-normal" style="margin:0">{{card.type}}</h5>
          <span class="text-gray-800 text-base font-semibold">{{card.title}}</span>
        </div>
        <div class="flex flex-col gap-2.5">
          <mat-progress-bar mode="determinate" [value]="getPercentage(card.careatedAt,card.durationDays)" class="audio-progress-bar"></mat-progress-bar>
          <div class="flex justify-between items-center">
            <span class="text-gray-800 text-base font-bold">{{card.raisedFunds}} dh</span>
            <span class="text-neutral-500 text-xs font-normal">{{card.durationDays}}</span>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

<!-- <div class="lg:py-14 pb-0 flex flex-col justify-center items-stretch gap-14 mb-20 px-5 lg:px-0"> -->
   <div class="lg:grid grid-cols-1 lg:grid-cols-3 gap-8 font-serif gap-y-14 xl:px-36 hidden">
       <div *ngFor="let card of cards" class="flex flex-col gap-5">
           <div class="flex flex-col gap-2">
            <div class="h-60">
              <img [src]="card.image" alt="" class=" rounded-lg object-cover w-full h-full">
            </div>
               <h5 class="text-neutral-500 text-base" style="margin:0">{{card.type}}</h5>
               <span class="text-gray-800 text-xl font-bold">{{card.title}}</span>
           </div>
           <div class="flex flex-col gap-2.5">
               <mat-progress-bar mode="determinate" [value]="getPercentage(card.careatedAt,card.durationDays)" class="audio-progress-bar"></mat-progress-bar>
               <div class="flex justify-between items-center">
                   <span class="text-gray-800 text-xs">{{card.raisedFunds}} dh</span>
                   <span class="text-gray-800 text-xs">{{card.durationDays}}</span>
               </div>
           </div>
       </div>
   </div>

    <button class="lg:w-56 w-[90%] flex rounded-lg items-center justify-center font-outfit bg-green-500  h-14 px-8 py-4  text-white gap-3 self-center ">
        <span class="text-base">
            Browse All
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
    </button>
</div>
