.editor-button
  color: #495057
  padding: 0.375rem 0.75rem
  border-radius: 0.25rem
  font-size: 1rem
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

  &:hover
    color: #212529
    background-color: #e9ecef
    border-color: #dae0e5

  &.active
    color: #fff
    background-color: #007bff
    border-color: #007bff

.floating-menu
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.editor-button-small
  font-size: 0.75rem
  padding: 0.25rem 0.5rem
  border-radius: 0.25rem
  background-color: #f3f3f3
  border: 1px solid #d3d3d3

  &.active
    background-color: #0078d4
    color: #ffffff




