<div class="font-outfit">
  <div class="nav mb-10">
    <app-header class="lg:text-white"/>
    <div>
      <h1 class="text-center text-2xl mb-6 font-bold font-outfit text-white lg:text-4xl">
        Start Your Project With US
      </h1>
      <p class="text-center text-sm lg:text-base font-normal text-white font-outfit">
        "Launch Your Dream with Our Platform"
      </p>
    </div>
  </div>
  <div *ngIf="currentStep > 1" class="flex m-6  items-center w-fit justify-start gap-1.5 2xl:mx-60 lg:mx-36 lg:my-0 cursor-pointer" (click)="previousStep()" >
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 19L3 12M3 12L10 5M3 12H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="font-medium font-outfit text-lg">Return</span>
  </div>
  <div class="flex  items-center 2xl:mx-60 xl:gap-6 lg:justify-between justify-center lg:m-10 lg:mx-36 mx-5 lg:mb-20 mb-7">
    <div *ngFor="let step of steps" class="flex-1" [ngClass]="{'flex-[0]':step.stepNumber===3}" >
      <app-steps [step]="step"></app-steps>
    </div>
  </div>
  <app-basics *ngIf="currentStep === 1" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-story *ngIf="currentStep === 2" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-rewards *ngIf="currentStep === 3" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-footer/>
</div>
