.header
  background: var(--Primary-Black, #263238)
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: space-between
  gap: 30px
  padding: 5px 0 60px 0
@media (min-width: 1024px)
  .header
    background: var(--Primary-Black, #263238)
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-between
    gap: 130px
    padding: 20px 0 96px 0
