<div class="font-outfit">
  <div class="header mb-10">
    <app-header class="lg:text-white"/>
    <div >
      <h1 class="text-center text-3xl mb-6 font-bold font-outfit text-white lg:text-4xl">
        Start Your Project With US
      </h1>
      <p class="text-center font-normal text-white font-outfit">
        "Launch Your Dream with Our Platform"
      </p>
    </div>
  </div>
  <div *ngIf="currentStep > 1" class="flex items-center w-fit justify-start gap-1.5 mx-36 cursor-pointer" (click)="previousStep()" >
    <span class="font-medium font-outfit text-lg">Return</span>
  </div>
  <div class="flex items-center xl:gap-6 justify-between m-10 mx-36 mb-20">
    <div *ngFor="let step of steps">
      <app-steps [step]="step" (stepChange)="onStepChange(step.stepNumber)"></app-steps>
    </div>
  </div>
  <app-basics *ngIf="currentStep === 1" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-story *ngIf="currentStep === 2" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-rewards *ngIf="currentStep === 3" [currentStep]="currentStep" (stepChange)="onStepChange($event)" />
  <app-footer/>
</div>
