@tailwind base
@tailwind components
@tailwind utilities

body
  @apply font-outfit
  font-size: 18px


/* styles.scss */

@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bold.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Segoe UI'
  src: url("/assets/fonts/segoeui-italic.woff") format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: italic


@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bolditalic.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: italic



