@tailwind base
@tailwind components
@tailwind utilities

.mat-mdc-progress-bar
    color: #ffffff
  
body 
  @apply font-sans
  font-size: 16px


/* styles.scss */

@font-face 
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bold.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: normal


@font-face 
  font-family: 'Segoe UI'
  src: url("/assets/fonts/segoeui-italic.woff") format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: italic


@font-face 
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bolditalic.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: italic

.input
    color: #4D4D4D
    font-size: 20px
    font-family: Lato
    font-weight: 500
    outline: none
    &::placeholder
        color: #4D4D4D
        font-size: 20px
        font-family: Lato
        font-weight: 500

