@tailwind base
@tailwind components
@tailwind utilities

body
  @apply font-outfit
  font-size: 18px


/* styles.scss */

@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bold.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Segoe UI'
  src: url("/assets/fonts/segoeui-italic.woff") format('woff')
  /* Add additional font formats if necessary */
  font-weight: normal
  font-style: italic


@font-face
  font-family: 'Segoe UI'
  src: url('/assets/fonts/segoeui-bolditalic.woff') format('woff')
  /* Add additional font formats if necessary */
  font-weight: bold
  font-style: italic

.ProseMirror
  outline: none
  box-shadow: none



  h1
    @apply text-4xl
  h2
    @apply text-3xl
  h3
    @apply text-2xl
  h4
    @apply text-xl
  h5
    @apply text-lg
  h6
    @apply text-base
.text-editor
  font-weight: normal
  font-family: sans-serif
  color: #181818
  font-size: 1rem
  ol
    list-style-type: decimal
    margin-left: 1.5rem
  ul
    list-style-type: disc
    margin-left: 1.5rem
    li
      margin-bottom: 0.5rem
  a
    text-decoration: underline
    @apply text-blue-500
    &:hover
      @apply text-blue-700
      @apply cursor-pointer
    &:visited
      @apply text-purple-500

$blockquote-font-family: Georgia, serif
$blockquote-font-size: 1.5em
$blockquote-color: #555
$blockquote-border-color: #ccc
$blockquote-background-color: #f9f9f9
$blockquote-padding: 15px 20px
$blockquote-margin: 20px 0
$blockquote-border-width: 5px
$blockquote-border-style: solid
$blockquote-border-left-color: $blockquote-border-color


blockquote
  font-family: $blockquote-font-family
  font-size: $blockquote-font-size
  color: $blockquote-color
  padding: $blockquote-padding
  margin: $blockquote-margin
  border-left: $blockquote-border-width $blockquote-border-style $blockquote-border-left-color
  background-color: $blockquote-background-color

  &::before
    content: open-quote
    font-size: 2em
    line-height: 0
    margin-right: 10px
    vertical-align: -0.4em
    color: $blockquote-border-color


  &::after
    content: open-quote
    font-size: 2em
    line-height: 0
    margin-right: 10px
    vertical-align: -0.4em
    color: $blockquote-border-color

  cite
    display: block
    text-align: right
    font-size: 0.875em
    color: lighten($blockquote-color, 20%)
    margin-top: 10px

    &::before
      content: "\2014 \00A0"
