.bg-container
    background: url('/assets/background.svg') 
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat

.header
    font-family: Segoe Ui, sans-serif

.h1
    font-size: 2.25rem
    font-weight: 700
    color: #181818
    letter-spacing: unset
    margin:0
    line-height: normal

.h3
    font-size: 1.5rem
    font-weight: 700
    color: #181818
.h5
    font-size: 1.25rem
    font-weight: 400
    color: #6D6D6D


.p
    font-size: 1.125rem
    font-weight: 400
    color: #4D4D4D
    font-family: Lato

.user-name
    color: #263238
    font-size: 20px
    font-family: Lato, serif
    font-weight: 600

.user-duty
    color: #717171
    font-size: 16px
    font-family: Lato, serif
    font-weight: 400