<div class="py-20 lg:flex gap-20 justify-around">
    <div class="flex justify-center gap-14 items-center flex-col lg:items-start">
        <div class="flex flex-col gap-4 text-center lg:text-justify">
            <span class=" text-gray-800 font-bold font-sans text-3xl">
                Join the Revolution of Innovation
            </span>
            <span class=" text-black text-sm font-normal font-serif">
                Empower projects, support creators, and be part of the morrocan community that brings dreams to life.
            </span>
        </div>
        <div class="flex flex-col  gap-3 justify-center items-center font-serif lg:px-0">
            <button class="flex items-center justify-center font-bold bg-green-500 px-3 py-2 rounded-sm text-white gap-3">
                <span>
                    Explore compains 
                </span>
                <mat-icon>arrow_right_alt</mat-icon>
            </button>
            <button class="flex items-center justify-center  font-bold text-green-500 px-3 py-2 rounded-sm gap-3 ">
                <span >
                    Start a compain
                </span>
                <mat-icon>arrow_right_alt</mat-icon>
            </button>
        </div>
    </div>
    <div class="bg-gray-800 min-w-96 min-h-96 w rounded-full lg:block hidden">
    </div>
</div>

   <app-cards-container [cards]="cards"/>
