<main class="flex xl:block flex-col ">
  <div class="bg-container flex flex-col items-stretch justify-between gap-20 lg:gap-36 lg:justify-start relative 2xl:gap-60 lg:mb-0 pt-5 pb-24">
    <app-header/>
    <div class="flex justify-center gap-10 lg:gap-14 items-center flex-col lg:items-start 2xl:mx-60 lg:mx-36">
              <div class="flex flex-col gap-4 lg:items-start justify-center items-center">
                  <h2 class=" text-gray-800 font-bold  font-outfit text-[30px] lg:text-5xl text-center lg:text-start" >
                      Join The Revolution<br/> Of Innovation
                  </h2>
                  <p class=" text-gray-800 font-normal lg:text-xl text-[14px] font-outfit text-center lg:text-start ">
                      Empower projects, support creators, and be <br class="block lg:hidden"> part of the <br class="hidden lg:block"> Moroccan community that brings <br class="block lg:hidden"> dreams to life.
                  </p>
              </div>
              <div class="flex lg:gap-3.5 gap-5 lg:justify-start w-full flex-row justify-center items-center font-outfit lg:px-0">
                  <button routerLink="/campaign/explore" class="rounded-lg lg:min-w-56 lg:h-12 px-8 py-4  flex items-center justify-center font-outfit bg-green-500  border-green-500  text-white gap-2 transition ease duration-300 text-base hover:bg-green-700 ">
                      <span class="text-base">
                          Explore campaigns
                      </span>
                  </button>
                  <button routerLink="/campaign/start-a-campaign" class="hidden min-w-56 h-12 px-8 py-4 lg:flex group justify-center items-center gap-3 text-green-500 rounded-lg transition ease duration-300 hover:bg-green-500 hover:text-white border-2 border-green-500 text-base  ">
                      <span class="text-base">
                          Start a campaign
                      </span>
                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:text-white" >
                      <path d="M19.719 5.78101L18.28 7.22001L24.563 13.5H11C7.145 13.5 4 16.645 4 20.5C4 24.355 7.145 27.5 11 27.5V25.5C8.227 25.5 6 23.273 6 20.5C6 17.727 8.227 15.5 11 15.5H24.563L18.281 21.781L19.719 23.219L27.719 15.219L28.406 14.5L27.719 13.781L19.719 5.78101Z" fill="currentColor"/>
                    </svg>
                  </button>
              </div>
    </div>
  </div>
  <div  class="lg:hidden w-full flex-col self-center justify-between items-center my-4 flex h-12">
    <div class="justify-start items-center  flex gap-4  rounded-full px-3 py-2 bg-slate-50">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.8">
          <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
      <div class="w-full h-full" >
        <input type="text" [(ngModel)]="searchTerm" (blur)="onBlur()" (ngModelChange)="onInputChange()" placeholder="Search projects..." class="border-none bg-transparent appearance-none outline-none w-full h-full placeholder:outfit placeholder:text-neutral-600 focus:ring-transparent " id="search">
      </div>
    </div>
    <div *ngIf="showDropdown && searchTerm != undefined && searchTerm.length > 3 " class="mx-5 z-50 bg-white h-fit w-96">
      <ul class=" rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
        <li  *ngFor="let project of matchingProjects.slice(0,5)" (click)="goToProject(project.basics.id)">
          <div class="flex items-center justify-start gap-5  px-4 py-5 text-sm text-gray-700 hover:bg-gray-100">
            <div class="w-15 h-10 rounded-lg">
              <img [src]="project.basics.cardImage" alt="" class="object-cover w-full h-full">
            </div>
            <span class="text-lg">
                {{project.basics.title}}
              </span>
          </div>
        </li>
        <li *ngIf="matchingProjects.length >= 5" class="flex cursor-pointer items-center justify-center gap-5  px-4 py-5 text-sm text-gray-700 hover:bg-gray-100">
            <span class="text-lg">
              See more results
            </span>
        </li>
        <li *ngIf="noResults" class="px-4 py-10 shadow rounded-md">
          <span class="px-4 py-2 text-xl text-gray-700">No results found.</span>
        </li>
      </ul>
    </div>
  </div>
  <app-cards-container [cards]="cards" />
  <div class="bg-slate-100 xl:py-20 py-10 mb-5  xl:mb-10">
      <div class=" lg:mx-36 flex lg:flex-row flex-col justify-between items-center gap-10 lg:gap-28 2xl:mx-60 lg:px-0 px-5 ">
          <div class="items-start xl:gap-8 gap-4 flex flex-col">
                <div class=" top-0 justify-center items-center xl:gap-2 gap-4 flex">
                  <div class="border border-green-700 xl:w-24 w-16"></div>
                  <div class="text-green-700 xl:text-2xl text-lg font-medium font-outfit">About Us</div>
                </div>
                <div class="flex-col justify-start items-start gap-2 inline-flex  lg:text-start">
                  <div class=" flex-col justify-start items-start gap-4 flex">
                    <h6 class="xl:text-3xl text-2xl font-bold">BIDAYA : A Journey into the Crowdfunding Excellence</h6>
                    <p class=" text-stone-500 text-sm xl:text-xl font-light font-outfit ">Dive into the World of BIDAYA, Where Creativity Meets Support. Our  Introduction Video Unveils the Magic Behind Crowdfunding.
                      Showcasing Diverse Projects, Backer Rewards, and the Unparalleled  Experience Awaiting You!</p>
                  </div>
                </div>
              <button class="lg:w rounded-lg lg:w-56 w-full h-14 flex items-center justify-center font-outfit bg-green-500 lg:px-3 lg:py-2  border-green-500  text-white gap-2transition ease duration-300 text-base hover:bg-green-700 ">
                  <span class="text-base">
                      Read more
                  </span>
              </button>
          </div>
          <img class="  shadow-md" ngSrc="./assets/aboutUs.svg" height="347" width="465" alt=""/>
      </div>
  </div>
  <div class="flex-col justify-center lg:justify-start items-center gap-12 flex xl:px-36 mb-20">
      <div class="flex-col justify-start items-center gap-16 flex 2xl:px-36">
        <div class="hidden xl:flex flex-col justify-start items-center gap-2.5">
          <h1 class="h1 header">Here’s how it works</h1>
          <h5 class=" h5 header text-center">Crowdfunding Simplified: Navigate the Journey with Our Step-by-Step Guide</h5>
        </div>
        <div class="justify-center items-center gap-14 flex lg:flex-row flex-col px-5">
          <div class="pl-1 pr-0.5 justify-center items-center flex flex-col gap-9">
              <div>
                  <img src="./assets/steps1.svg" alt="">
              </div>
            <div class="self-stretch flex-col justify-start items-center gap-3 inline-flex">
              <div class="flex-col justify-center items-center gap-2 flex">
                <h3 class=" header h3">Create Your Project:</h3>
                <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 xl:px-5 lg:px-0">Transform your idea into reality. Start by creating your project, setting goals, and personalizing your campaign page</p>
              </div>
            </div>
          </div>
          <div class="flex-col justify-center items-center gap-9 flex">
              <div>
                  <img src="./assets/step2.svg" alt="">
              </div>
            <div class="flex-col justify-center items-center gap-2 flex">
              <h3 class="header h3">Connect with Backers</h3>
              <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 xl:px-5 lg:px-0">"Connect with a global community of like-minded backers. Engage, gather feedback, and forge meaningful connections to boost your project."</p>
            </div>
          </div>
          <div class="pl-1.5 pr-2 flex-col justify-end items-center gap-9 inline-flex">
              <div>
                  <img src="./assets/step3.svg" alt="">
              </div>
            <div class="self-stretch flex-col justify-center items-center gap-1.5 inline-flex">
              <h3 class="header h3">Fulfill Your Vision</h3>
              <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 xl:px-5 lg:px-0">"Bring your ideas to life, share updates with backers, and be a key part of a success story that makes a lasting impact."</p>
            </div>
          </div>
        </div>
      </div>
      <button class="w-[60%] xl:w-56 h-14 rounded-lg flex items-center justify-center font-outfit bg-green-500 px-3 py-2 border border-green-500  text-white gap-2 transition ease duration-300 text-base hover:bg-green-700">
          <span class="text-base">
              Start Now
          </span>
      </button>
    </div>
  <div class=" bg-slate-100 flex flex-col gap-6 xl:gap-8 xl:px-0 px-5 py-20">
      <div class="flex justify-between flex-col items-center gap-2 lg:mx-36 2xl:mx-60">
          <div class=" justify-start items-center gap-4 xl:gap-2 flex flex-grow-0 self-start">
              <div class="border border-green-700 w-12 xl:w-24"></div>
              <div class="text-green-700 text-base xl:text-2xl font-normal font-outfit">Testimonials</div>
          </div>
          <div class="flex gap-2 items-center justify-between  w-full">
              <h2 class="header xl:text-3xl text-2xl font-bold flex-grow text-gray-800">
                  What Our Beloved Users <br> Say About Us
              </h2>
          </div>
      </div>
      <div class="swiper-container-div">
        <swiper-container
          loop="true"
          speed="500"
          slides-per-view="auto"
          space-between="20"
          free-mode="true"
          class="lg:ml-36 2xl:ml-60"
        >
          <swiper-slide *ngFor="let userComment of userComments" class="bg-white xl:w-96 w-72 rounded-lg shadow px-8 py-5 ">
            <div class="flex flex-col gap-7">
              <div class="flex flex-col items-start justify-center gap-5">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.2734 28.875V18.7124C19.2734 10.8694 24.4035 5.55363 31.625 4.125L32.9931 7.08262C29.6491 8.3435 27.5
                  12.0849 27.5 15.125H33V28.875H19.2734ZM0 28.875V18.7124C0 10.8694 5.1535 5.55225 12.375 4.125L13.7445 7.08262C10.3991
                    8.3435 8.25 12.0849 8.25 15.125H13.7266V28.875H0Z" fill="#43A046"/>
                </svg>
                <p class="text-neutral-600 text-sm font-normal font-outfit">{{userComment.comment}}</p>
              </div>
              <div class="flex flex-col gap-3 justify-center items-start">
                <div class="flex justify-start gap-5 items-center">
                  <div class="w-16 h-16">
                    <img [src]="'../..'+userComment.image" alt="" class="w-full h-full object-cover">
                  </div>
                  <div class="flex flex-col justify-center items-start">
                                <span class="user-name">
                                        {{userComment.name}}
                                </span>
                    <h6 class="user-duty" style="margin: 0;">
                      {{userComment.duty}}
                    </h6>
                  </div>
                </div>
                <div class="flex items-center">
                  <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                  </svg>
                  <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                  </svg>
                  <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                  </svg>
                  <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                  </svg>
                  <svg class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                  </svg>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
  </div>

  <div class="lg:flex flex-col items-stretch justify-center mb-20 2xl:mx-60 lg:mx-36 py-20 gap-12 hidden">
      <h1 class="header h1 text-center">Most Frequently Asked Questions (FAQ)</h1>
      <div class="flex justify-between items-center gap-16 xl:justify-between">
        <img ngSrc="./assets/qa.svg" alt="" class="flex-1 shadow-md" height="420" width="496" >
        <div id="accordion-color" class="flex-1" data-accordion="collapse" data-active-classes="bg-green-100 dark:bg-gray-800 text-green-600 dark:text-white">
           <h2 id="accordion-color-heading-1">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-gray-700 dark:text-gray-400 hover:bg-green-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
                <span> How do I promote my campaign?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  Offer tips and guidance on how campaigners can effectively market and promote
                  their projects to maximize visibility.
                </p>
              </div>
            </div>
            <h2 id="accordion-color-heading-2">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-gray-700 dark:text-gray-400 hover:bg-green-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
                <span>How do I start a campaign?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
              </div>
            </div>
            <h2 id="accordion-color-heading-3">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:border-gray-700 dark:text-gray-400 hover:bg-green-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
                <span>What types of projects are allowed on BIDAYA ?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
              <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                  <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
                  <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                </ul>
              </div>
            </div>
          </div>


        </div>
  </div>
  <div class=" xl:block hidden bg-slate-100">
      <div class="2xl:mx-60 lg:mx-36 py-20 flex justify-between items-center gap-28 px-0 xl:justify-between">
          <img class=" flex-1 shadow-md" ngSrc="./assets/subscribe.svg" alt="" height="365" width="589"/>
          <div class="justify-center items-start gap-4 flex flex-col flex-1">
                <div class=" top-0  justify-center items-center gap-2 flex">
                  <div class="border border-green-700 w-24"></div>
                    <div class="text-green-700 text-2xl font-medium font-outfit">Subscribe Now</div>
                </div>
                <div class="  flex-col justify-start items-start gap-10 inline-flex">
                  <div class=" flex-col justify-start items-start gap-3 flex">
                      <span class="text-gray-800 text-4xl font-bold font-outfit w-80">Subscribe To Our
                          Newsletter
                      </span>
                      <div class=" text-stone-500 text-base font-normal font-outfit w-80">Subscribe Today for a Front-Row Seat to Latest News and Special Offers</div>
                  </div>
                </div>
            <div class="w-full relative">
              <input type="search" class="block w-full p-4 ps-5 text-sm text-gray-900 border  rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500" placeholder="Email address"  required />
              <button type="button"  class="text-white absolute end-2.5 bottom-2.5 bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-sm px-4 py-2">Submit</button>
            </div>
          </div>
      </div>
  </div>
</main>
