<main class="flex xl:block flex-col ">
  <div class="bg-container flex flex-col items-stretch  justify-between relative gap-32  lg:mb-0 pt-5 pb-24">
    <app-header/>
    <div class="flex justify-center gap-10 lg:gap-14 items-center flex-col lg:items-start lg:mx-36">
              <div class="flex flex-col gap-4 lg:items-start justify-center items-center">
                  <h2 class=" text-gray-800 font-bold  font-outfit text-[30px] lg:text-5xl text-center lg:text-start" >
                      Join The Revolution<br/> Of Innovation
                  </h2>
                  <p class=" text-gray-800 font-normal lg:text-xl text-[14px] font-outfit text-center lg:text-start ">
                      Empower projects, support creators, and be <br class="block lg:hidden"> part of the <br class="hidden lg:block"> morrocan community that brings <br class="block lg:hidden"> dreams to life.
                  </p>
              </div>
              <div class="flex lg:gap-3.5 w-[50%] gap-5 flex-col lg:flex-row lg:justify-start  justify-between items-center font-outfit lg:px-0">
                  <button class="lg:w rounded-lg lg:w-[353px] w-full h-14 flex items-center justify-center font-outfit bg-green-500 lg:px-3 lg:py-2  border-green-500  text-white gap-2transition ease duration-300 text-base hover:bg-green-700 ">
                      <span class="text-base">
                          Explore campaigns
                      </span>
                      <mat-icon>arrow_right_alt</mat-icon>
                  </button>
                  <button class="lg:flex rounded-r-lg w-56 h-14 hidden items-center justify-center font-normal text-green-500 lg:px-3 lg:py-2  gap-3 border-green-500  ">
                      <span class="text-base">
                          Start a complain
                      </span>
                      <mat-icon>arrow_right_alt</mat-icon>
                  </button>
              </div>
    </div>
  </div>
  <div  class="lg:hidden self-center justify-between items-center pl-5 flex gap-4 bg-slate-50 rounded-full my-4 w-80 h-12">
    <div class="justify-start items-center gap-3 flex">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.8">
          <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
      <div class="w-full h-full" >
        <input type="text" placeholder="Search projects..." class="border-none bg-transparent appearance-none outline-none w-full h-full placeholder:outfit placeholder:text-neutral-600 " id="search">
      </div>
    </div>
  </div>
  <app-cards-container [cards]="cards"/>
  <div class="bg-slate-100 py-20 mb-10">
      <div class="2xl:px-36  flex lg:flex-row flex-col justify-between items-center gap-10 lg:gap-28 px-5 ">
          <div class="items-start gap-8 flex flex-col">
                <div class=" top-0 justify-center items-center gap-2 flex">
                  <div class="border border-green-700 w-24"></div>
                  <div class="text-green-700 text-2xl font-medium font-outfit">About Us</div>
                </div>
                <div class="flex-col justify-start items-start gap-2 inline-flex  lg:text-start">
                  <div class=" flex-col justify-start items-start gap-2 flex">
                    <div class="leading-loose">
                      <span class="text-gray-800 text-2xl lg:text-4xl font-bold font-outfit">BIDAYA</span>
                      <span class="text-neutral-800 text-2xl lg:text-4xl font-bold font-outfit"> : A Journey into the Crowdfunding Excellence</span></div>
                    <div class=" text-stone-500 text-base lg:text-xl font-normal font-outfit ">Dive into the World of BIDAYA, Where Creativity Meets Support. Our <br/> Introduction Video Unveils the Magic Behind Crowdfunding.
                     <br/> Showcasing Diverse Projects, Backer Rewards, and the Unparalleled <br/> Experience Awaiting You!</div>
                  </div>
                </div>
              <button class="lg:w rounded-lg lg:w-56 w-full h-14 flex items-center justify-center font-outfit bg-green-500 lg:px-3 lg:py-2  border-green-500  text-white gap-2transition ease duration-300 text-base hover:bg-green-700 ">
                  <span class="text-base">
                      Create Account
                  </span>
              </button>
          </div>
          <img class="  shadow-md" ngSrc="./assets/aboutUs.svg" height="347" width="465" alt=""/>
      </div>
  </div>
  <div class="flex-col justify-center lg:justify-start items-center gap-12 flex lg:px-36 mb-20">
      <div class="flex-col justify-start items-center gap-16 flex 2xl:px-36">
        <div class="hidden xl:flex flex-col justify-start items-center gap-2.5">
          <h1 class="h1 header">Here’s how it works</h1>
          <h5 class=" h5 header text-center">Crowdfunding Simplified: Navigate the Journey with Our Step-by-Step Guide</h5>
        </div>
        <div class="justify-center items-center gap-14 flex lg:flex-row flex-col px-16">
          <div class="pl-1 pr-0.5 justify-center items-center flex flex-col gap-9">
              <div>
                  <img src="./assets/steps1.svg" alt="">
              </div>
            <div class="self-stretch flex-col justify-start items-center gap-3 inline-flex">
              <div class="flex-col justify-center items-center gap-2 flex">
                <h3 class=" header h3">Create Your Project:</h3>
                <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 px-5 lg:px-0">Transform your idea into reality. Start by creating your project, setting goals, and personalizing your campaign page</p>
              </div>
            </div>
          </div>
          <div class="flex-col justify-center items-center gap-9 flex">
              <div>
                  <img src="./assets/step2.svg" alt="">
              </div>
            <div class="flex-col justify-center items-center gap-2 flex">
              <h3 class="header h3">Connect with Backers</h3>
              <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 px-5 lg:px-0">"Connect with a global community of like-minded backers. Engage, gather feedback, and forge meaningful connections to boost your project."</p>
            </div>
          </div>
          <div class="pl-1.5 pr-2 flex-col justify-end items-center gap-9 inline-flex">
              <div>
                  <img src="./assets/step3.svg" alt="">
              </div>
            <div class="self-stretch flex-col justify-center items-center gap-1.5 inline-flex">
              <h3 class="header h3">Fulfill Your Vision</h3>
              <p class=" text-center text-neutral-500 text-lg font-normal font-out leading-7 px-5 lg:px-0">"Bring your ideas to life, share updates with backers, and be a key part of a success story that makes a lasting impact."</p>
            </div>
          </div>
        </div>
      </div>
      <button class="w-[60%] xl:w-56 h-14 rounded-lg flex items-center justify-center font-outfit bg-green-500 px-3 py-2 border border-green-500  text-white gap-2 transition ease duration-300 text-base hover:bg-green-700">
          <span class="text-base">
              Start Now
          </span>
      </button>
    </div>
  <div class=" bg-slate-100 flex flex-col gap-6 xl:gap-8 xl:px-0 px-5 py-20">
      <div class="flex justify-between flex-col items-center gap-2 2xl:px-36 ">
          <div class=" justify-start items-center gap-4 xl:gap-2 flex flex-grow-0 self-start">
              <div class="border border-green-700 w-12 xl:w-24"></div>
              <div class="text-green-700 text-base xl:text-2xl font-medium font-outfit">Testimonials</div>
          </div>
          <div class="flex gap-2 items-center justify-between  w-full">
              <span class="header text-xl font-bold flex-grow text-gray-800">
                  What Our Beloved Users <br> Say About Us
              </span>
          </div>
      </div>
      <div class="swiper-container-div">
        <swiper-container
          loop="true"
          speed="500"
          slides-per-view="auto"
          space-between="20"
          free-mode="true"
          class="2xl:px-36"
        >
          <swiper-slide *ngFor="let userComment of userComments" class="bg-white w-72 rounded-lg shadow px-4 py-5 ">
            <div class="flex flex-col gap-7">
              <div class="flex flex-col items-start justify-center gap-5">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.2734 28.875V18.7124C19.2734 10.8694 24.4035 5.55363 31.625 4.125L32.9931 7.08262C29.6491 8.3435 27.5
                  12.0849 27.5 15.125H33V28.875H19.2734ZM0 28.875V18.7124C0 10.8694 5.1535 5.55225 12.375 4.125L13.7445 7.08262C10.3991
                    8.3435 8.25 12.0849 8.25 15.125H13.7266V28.875H0Z" fill="#43A046"/>
                </svg>
                <p class="text-neutral-600 text-sm font-normal font-outfit">{{userComment.comment}}</p>
              </div>
              <div class="flex flex-col gap-3 justify-center items-start">
                <div class="flex justify-start gap-5 items-center">
                  <div class="w-16 h-16">
                    <img [src]="'../..'+userComment.image" alt="" class="w-full h-full object-cover">
                  </div>
                  <div class="flex flex-col justify-center items-start">
                                <span class="user-name">
                                        {{userComment.name}}
                                </span>
                    <h6 class="user-duty" style="margin: 0;">
                      {{userComment.duty}}
                    </h6>
                  </div>
                </div>
                <div class="star-rating">
                  <mat-icon *ngFor="let star of stars(userComment.rating)">star</mat-icon>
                  <mat-icon *ngIf="userComment.rating % 1 !== 0">star_half</mat-icon>
                </div>
              </div>
            </div>

          </swiper-slide>
        </swiper-container>
      </div>
  </div>

  <div class="lg:flex flex-col items-stretch justify-center mb-20 px-36 py-20 gap-12 hidden">
      <h1 class="header h1">Most Frequently Asked Questions (FAQ)</h1>
      <div class="flex justify-between items-center gap-16 xl:justify-evenly">
              <img ngSrc="./assets/qa.svg" alt="" class=" shadow-md" height="420" width="496">
          <div class="flex flex-col gap-5">
              <div>
                  <div class="flex items-center justify-between">
                      <h5  style="color: #333333; font-size: 20px; font-weight: 600; margin:0;">
                          How do I promote my campaign?
                      </h5>
                      <img ngSrc="./assets/minus.svg" alt="" class="cursor-pointer" height="35" width="34">
                  </div>
                  <p class="text-neutral-600 text-base font-normal font-outfit">
                      Offer tips and guidance on how campaigners can effectively market and promote
                      their projects to maximize visibility.
                  </p>
              </div>
              <div>
                  <div class="flex items-center justify-between">
                      <h5  style="color: #333333; font-size: 20px; font-weight: 600;margin:0;">
                          How do I start a campaign?
                      </h5>
                      <mat-icon class="cursor-pointer">add</mat-icon>
                  </div>
              </div>
              <div>
                  <div class="flex items-center justify-between">
                      <h5  style="color: #333333; font-size: 20px; font-weight: 600;margin:0;">
                          What types of projects are allowed on BIDAYA ?
                      </h5>
                      <mat-icon class="cursor-pointer">add</mat-icon>
                  </div>
              </div>
              <div>
                  <div class="flex items-center justify-between">
                      <h5  style="color: #333333; font-size: 20px; font-weight: 600;margin:0;">
                          What payment methods are accepted on BIDAYA ?
                      </h5>
                      <mat-icon class="cursor-pointer">add</mat-icon>
                  </div>
              </div>
              <div>
                  <div class="flex items-center justify-between">
                      <h5  style="color: #333333; font-size: 20px;  font-weight: 600;margin:0;">
                          Can I contact BIDAYA for help with my campaign?
                      </h5>
                      <mat-icon class="cursor-pointer">add</mat-icon>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class=" xl:block hidden bg-slate-100">
      <div class="2xl:px-36 py-20 flex justify-between items-center gap-28 px-0 xl:justify-between">
          <img class="  shadow-md" ngSrc="./assets/subscribe.svg" alt="" height="365" width="589"/>
          <div class="justify-center items-start gap-4 flex flex-col">
                <div class=" top-0  justify-center items-center gap-2 flex">
                  <div class="border border-green-700 w-24"></div>
                    <div class="text-green-700 text-2xl font-medium font-outfit">Subscribe Now</div>
                </div>
                <div class="  flex-col justify-start items-start gap-10 inline-flex">
                  <div class=" flex-col justify-start items-start gap-3 flex">
                      <span class="text-gray-800 text-4xl font-bold font-outfit w-80">Subscribe To Our
                          Newsletter
                      </span>
                      <div class=" text-stone-500 text-base font-normal font-outfit w-80">Subscribe Today for a Front-Row Seat to Latest News and Special Offers</div>
                  </div>
                </div>
                <div class="flex items-center justify-between py-2.5 px-4 bg-white  self-stretch">
                  <input type="email" placeholder="Email Address" class="input">
                  <button class=" px-6 py-2  font-outfit bg-green-500  text-white text-base text-center font-semibold ">
                          Subscribe
                  </button>
                </div>
          </div>
      </div>
  </div>
</main>
