<div class="flex flex-col">
    <div class="bg-gray-800 font-serif p-14 flex items-start justify-center gap-32">
        <div class="flex items-start justify-center gap-28">
            <div class="flex flex-col justify-between gap-5">
                <div class="text-green-700 text-2xl font-semibold">
                    About
                </div>
                <div class="text-stone-50 text-sm font-normal flex flex-col items-start justify-center gap-3">
                    <a class="cursor-pointer">
                        About Us
                    </a>
                    <a class="cursor-pointer">
                        Trust & Safety
                    </a>
                    <a class="cursor-pointer">
                        Careers
                    </a>
                    <a>
                        Help & Support
                    </a>
                    <a class="cursor-pointer">
                        FAQ
                    </a>
                </div>
            </div>
            <div class="flex flex-col justify-between gap-5">
                <div class="text-green-700 text-2xl font-semibold">
                    Explore
                </div>
                <div class="text-stone-50 text-sm font-normal flex flex-col items-start justify-center gap-3">
                    <a class="cursor-pointer">
                        How it works
                    </a>
                    <a class="cursor-pointer">
                        Fees
                    </a>
                    <a class="cursor-pointer">
                        Entreprise
                    </a>
                    <a class="cursor-pointer">
                        Small project
                    </a>
                </div>
            </div>
            <div class="flex flex-col justify-between gap-5">
                <div class="text-green-700 text-2xl font-semibold">
                    Generale
                </div>
                <div class="text-stone-50 text-sm font-normal flex flex-col items-start justify-center gap-3">
                    <a class="cursor-pointer">
                        Impressum
                    </a>
                    <a class="cursor-pointer">
                        AGB
                    </a>
                    <a class="cursor-pointer">
                        FAQ                
                    </a>
                    <a class="cursor-pointer">
                        Privacy Data
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between gap-5 items-start">
            <div class="text-green-700 text-2xl font-semibold">
                Stay up to date 
            </div>
            <div class="flex flex-col items-start justify-center gap-3">
                <span class="text-stone-50 text-sm font-normal">
                    Subscribe to our newseller
                </span>
                <div class="bg-green-800 rounded py-2.5 px-4 self-stretch flex ">
                    <input type="email" name="" id="" placeholder="Email" class="bg-transparent outline-none text-white font-serif placeholder:text-white placeholder:font-serif">
                    <mat-icon class="text-white cursor-pointer">arrow_right_alt</mat-icon>
                </div>
            </div>
            <div class="flex items-center justify-between self-stretch">
                <img src="../../../assets/Instagram.svg" alt="">
                <img src="../../../assets/Facebook.svg" alt="">
                <img src="../../../assets/Twitter.svg" alt="">
                <img src="../../../assets/Pinterest.svg" alt="">
                <img src="../../../assets/Telegram.svg" alt="">
            </div>
        </div>
    </div>
    <div class="bg-green-500 self-stretch text-center py-2 ">
        <span class="text-white text-base font-normal font-serif">
            2023 Copyright all rights reserved 
        </span>
    </div>
</div>